<%= form_for(@supplement) do |f| %>
  <% if @supplement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplement.errors.count, "error") %> prohibited this supplement from being saved:</h2>

      <ul>
      <% @supplement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :preview %><br />
    <%= f.text_field :preview %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :benefit_id %><br />
	<%= f.collection_select :benefit_id, Benefit.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :energy %><br />
    <%= f.text_field :energy %>
  </div>
  <div class="field">
    <%= f.label :protein %><br />
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :carbonhydrate %><br />
    <%= f.text_field :carbonhydrate %>
  </div>
  <div class="field">
    <%= f.label :fat %><br />
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :fiber %><br />
    <%= f.text_field :fiber %>
  </div>
  <div class="field">
    <%= f.label :sodium %><br />
    <%= f.text_field :sodium %>
  </div>
  <div class="field">
    <%= f.label :allegyInformation %><br />
    <%= f.text_field :allegyInformation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
