<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :posted %><br />
    <%= f.date_select :posted %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
	<%= f.collection_select :user_id, User.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :supplement_id %><br />
	<%= f.collection_select :supplement_id, Supplement.all, :id, :name%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
